/* - - - - - - - - -------------------- - - - - - - - - - - -
                          GENERAL
   - - - - - - - - -------------------- - - - - - - - - - -*/

.wrap {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.cellwrap {
  padding: 10px 15px;
}

/* - - - - - - - - -------------------- - - - - - - - - - - -
                            NAV
   - - - - - - - - -------------------- - - - - - - - - - -*/


/* - - - - - - - - -------------------- - - - - - - - - - - -
                           HERO
   - - - - - - - - -------------------- - - - - - - - - - -*/

.hero {
    background-color: #999;
    padding: 80px 0px;
}

/* - - - - - - - - -------------------- - - - - - - - - - - -
                        MAIN SECTION
   - - - - - - - - -------------------- - - - - - - - - - -*/

.main {
    padding: 80px 0px;
}

/* - - - - - - - - -------------------- - - - - - - - - - - -
                          FOOTER
   - - - - - - - - -------------------- - - - - - - - - - -*/

footer {
    background-color: #222;
    padding: 80px 0px;
}

footer a {
    display: block;
}